<!------------------------------- Navigation ------------------------------->
<script src="/resurse/js/tema.js"></script>
<header>
    <h1>PC Galaxy</h1>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="hamburger-menu">
        <span class="hamburger-line hamburger-line-top"></span>
        <span class="hamburger-line hamburger-line-middle"></span>
        <span class="hamburger-line hamburger-line-bottom"></span>
    </label>
    <nav class="meniu">
        <ul>
            <li><a href="/home"><span>Acasă</span></a>
                <ul>
                    <li><a href="/home#oferte">Reduceri & Promoții</a></li>
                    <li><a href="/home#noutati">Lansări Noi</a></li>
                    <li><a href="/home#populare">Produse Populare</a></li>
                </ul>
            </li>
            <li><a href="/produse">Catalog Produse</a>
                <ul>
                    <li><a href="/produse">Toate produsele</a></li>
                    
                    <% if(locals.categoriiPrincipale && categoriiPrincipale.length > 0) { %>
                        <% for (let categorieObj of categoriiPrincipale) { %>
                            <li class="categorie-principala">
                                <a href="/produse?categorie=<%= categorieObj.categ %>">
                                    <%= formatareText(categorieObj.categ) %>
                                </a>
                                
                                <% if(locals.mapareSubcategorii && mapareSubcategorii[categorieObj.categ]) { %>
                                    <ul class="submeniu-subcategorii">
                                        <% for (let subcat of mapareSubcategorii[categorieObj.categ]) { %>
                                            <li>
                                                <a href="/produse?categorie=<%= categorieObj.categ %>&subcategorie=<%= subcat %>">
                                                    <%= formatareText(subcat) %>
                                                </a>
                                            </li>
                                        <% } %>
                                    </ul>
                                <% } %>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </li>
            <li><a href="/seturi">Seturi</a></li>
            <li><a href="/home#tutoriale-resurse">Tutoriale și resurse</a>
                <ul>
                    <li><a href="/home#video-tutorials">Ghiduri Video</a></li>
                    <li><a href="/home#downloads">Documentație</a></li>
                </ul>
            </li>
            <li><a href="/cos">Coș de cumpărături</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/informatii">Informații</a>
                <ul>
                    <li><a href="/faq">Întrebări Frecvente</a></li>
                    <li><a href="/despre">Despre noi</a></li>
                </ul>
            </li>
            <li><a href="/galerie">Galerie</a></li>
            <li>
                <a href="#" id="themeLink">
                    <i class="bi bi-palette-fill"></i>
                    <span class="ms-2 d-none d-md-inline">Temă</span>
                </a>
                <ul>
                    <li><a class="theme-option" data-theme="default" href="#">
                            <i class="bi bi-circle-half me-2"></i>🌗 Implicită</a>
                    </li>
                    <li><a class="theme-option" data-theme="light" href="#">
                            <i class="bi bi-sun-fill me-2"></i>☀️ Light</a>
                    </li>
                    <li><a class="theme-option" data-theme="dark" href="#">
                            <i class="bi bi-moon-stars-fill me-2"></i>🌙 Dark</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>